body {
	color: white;
}
.active {
	color: #59D2FE;
	font-weight: bold;
}
.grid-container {
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
	gap: 20px;
	padding: 20px;

}
.text-content {
color: #EEE;
width: 60%;
}

.recipe-info {
	display: flex;
	align-items: center;
	background-color: #1C1C1E;
	justify-content: space-between;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
#recipeExchange .text-content h2{
	color:#59D2FE;

}
#recipeExchange {
	transition: transform 0.2s ease;

}
#recipeExchange:hover {
	transform: scale(1.03);

}


.proj-img {
	width: 100%;
	max-width: 200px;
	border-radius: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}


h2 {
	font-size: 1.3em;

}

p {

	font-size: 0.95em;
	line-height: 1.4;
}

.tech-stack {
	padding: 40px 20px;
	text-align: center;
}

.tech-stack h2 {
	font-size: 2em;
	margin-bottom: 20px;
}

.tech-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.tech-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #eee;
	width: 80px;
}

.tech-item img {
	width: 100%;
	max-width: 50px;
	margin-bottom: 10px;
	filter: brightness(0) invert(1); /* make dark icons light if needed */
	
}



.tech-item span {
	font-size: 0.9em;
	margin-top: 5px;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 600px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	.recipe-info {
		flex-direction: column;
		align-items: center;
	}
	.frog-img {
		width: 80%;
		max-width: 150px;
	}
	h2 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}
}