.work-history {
	padding: 40px 20px;
}
.active {
	color: #59D2FE;
	font-weight: bold;
}
.work-history h2 {
	color: white;
	font-size: 2em;
	text-align: center;
	margin-bottom: 30px;
}

.timeline {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.job-entry {
	background-color: #1C1C1E;
	border-left: 5px solid #59D2FE;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.job-entry h3 {
	color: #59D2FE;
	margin-bottom: 5px;
}

.job-entry p {
	color: #ccc;
	margin: 0;
}